body {
    margin:0;
    padding:0;
    display:flex;
    height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}   

#container {
   border: 2px solid; 
   border-radius: 10px;
}
#display {
    border: 2px solid;
    border-radius: 10px;
    padding:10px;
    margin:10px;
    text-align: right;
}
#buttons-container {
    display:flex;
    border:2px solid;
    border-radius: 10px;
    margin:10px;
}
#numbers-container {
    flex:2 1 0%;
    padding:10px;
    
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
}
#numbers {
    display:flex;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:10px;
    height:90%;
}
#numbers > li  {
    flex:auto;
    
    width:25%;
    
}
#functions-container {
    padding:10px;
}
#functions {
    display:flex;
    flex-direction: column;
    gap:10px;
}
button {
    border-radius: px;
    height:100%;
    width:100%;
}